version: "3"

services:
  medialit:
    image: codelit/medialit
    restart: on-failure
    environment:
      - EMAIL=${EMAIL?'Email is required to set up a user'}
      - DB_CONNECTION_STRING=${DB_CONNECTION_STRING?'Database connection string is required'}
      - CLOUD_ENDPOINT=${CLOUD_ENDPOINT?'Cloud endpoint is required'}
      - CLOUD_REGION=${CLOUD_REGION?'Cloud region is required'}
      - CLOUD_KEY=${CLOUD_KEY?'Cloud key is required'}
      - CLOUD_SECRET=${CLOUD_SECRET?'Cloud secret is required'}
      - CLOUD_BUCKET_NAME=${CLOUD_BUCKET_NAME?'Cloud bucket name is required'}
      - CLOUD_PREFIX=${CLOUD_PREFIX?'Cloud prefix is required'}
      - PUBLIC_ENDPOINT=${PUBLIC_ENDPOINT?'S3 endpoint is required'}
      - TEMP_FILE_DIR_FOR_UPLOADS=${TEMP_FILE_DIR_FOR_UPLOADS?'A temporary directory for uploads transformations is required'}
      - PORT=8000
      - ENABLE_TRUST_PROXY=${ENABLE_TRUST_PROXY}
      - USE_CLOUDFRONT=${USE_CLOUDFRONT} 
      - CLOUDFRONT_ENDPOINT=${CLOUDFRONT_ENDPOINT} 
      - CLOUDFRONT_KEY_PAIR_ID=${CLOUDFRONT_KEY_PAIR_ID} 
      - CLOUDFRONT_PRIVATE_KEY=${CLOUDFRONT_PRIVATE_KEY}
      - CDN_MAX_AGE=${CDN_MAX_AGE}
    expose:
      - 8000 

  proxy:
    image: caddy
    restart: on-failure
    environment:
      - SITE_ADDRESS=${SITE_ADDRESS}
    ports:
      - "443:443"
    volumes:
      - "./Caddyfile:/etc/caddy/Caddyfile"
    depends_on:
      - medialit 