name: Publish Npm packages

on:
  push:
    branches:
      - main 
    tags-ignore:
      - '**'

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  CI: true

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm 
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Configure CI Git User
        run: |
          git config --global user.name 'Rajat Saxena'
          git config --global user.email 'hi@sub.rajatsaxena.dev'
          git remote set-url origin https://x-access-token:${{ secrets.PAT }}@github.com/${{ github.repository }}

      - name: Install dependencies
        run: pnpm install 

      - name: Create and publish versions
        id: changesets
        uses: changesets/action@v1
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm ci:publish 
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}

      - name: Echo changeset output
        run: echo "${{ steps.changesets.outputs.hasChangesets }}"
